:root {
  /* ----------------- FONTS ----------------- */

  /* PARA PARRAGRAPHS AND TITLES */
  --font-1: "Noto Sans", sans-serif;
  /* HEADER FOOTER AND THELINKS */
  --font-2: "Open Sans", sans-serif;;

  /* ----------------- COLORS ----------------- */

  /* BACKGROUNDS */
  --color-dark: #2A3B38;
  --color-light: #F1F1F1;
  --color-light-gray-2: #F2F2F2;
  /* SECONDARY */
  --color-light_gray: #DCDBDB;
  /* PRIMARY */
  --color-primary: #50a1b1;
  --color-secondary: #94e0db;
  --color-radioactive: #db8464;
  --color-white: #e9f3f2;
  /* BOOLEANS */
  --color-bad: #f37070;
  --color-good: #82ebbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-1);
  background-color: var(--color-light);
}

p {
  font-size: 14px;
}

a {
  font-family: var(--font-2);
}

.badge {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_orange {
  position: absolute;
  top: 0;
  color: var(--color-light);
  right: 30px;
  background-color: var(--color-radioactive);
  font-weight: bold;
}


#live {
  height: 100%;
}

#root {
  height: 100vh;
}

.Login {
  background: transparent linear-gradient(180deg, #97e2c5 0%, #50a1b1 100%) 0% 0% no-repeat padding-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 139.95px);
  min-height: 500px;
}

.EditApp {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  min-height: 500px;
}

.Home, .AboutUs {
  min-height: calc(100vh - 139.95px);
}

.AboutUs {
  padding: 20px;
}

h1, h2, h3 {
  color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background: #354946;
  border-radius: 4px;
  margin: 1px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #415c57;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #52726c;
}

::-webkit-scrollbar-track {
  background: #272626;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: rgb(32, 31, 31);
}
