:root {
  /* ----------------- FONTS ----------------- */

  /* PARA PARRAGRAPHS AND TITLES */
  --font-1: "Noto Sans", sans-serif;
  /* HEADER FOOTER AND THELINKS */
  --font-2: "Open Sans", sans-serif;;

  /* ----------------- COLORS ----------------- */

  /* BACKGROUNDS */
  --color-dark: #22475f;
  --color-light: #F1F1F1;
  --color-light-gray-2: #F2F2F2;
  /* SECONDARY */
  --color-light_gray: #DCDBDB;
  /* PRIMARY */
  --color-primary: #50a1b1;
  --color-secondary: #6cece4;
  --color-radioactive: #d89177;
  --color-white: #d7f0ed;
  /* BOOLEANS */
  --color-bad: #f37070;
  --color-good: #82ebbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-1);
  background-color: var(--color-light);
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
  color: rgb(66, 66, 66);
  /* color: var(--color-dark); */
}

a {
  font-family: var(--font-2);
}

.badge {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.badge_orange {
  position: absolute;
  top: 0;
  color: var(--color-light);
  right: 30px;
  background-color: var(--color-radioactive);
  font-weight: bold;
}


#live {
  height: 100%;
}

#root {
  height: 100vh;
}

.Login {
  background: transparent linear-gradient(180deg, #97e2c5 0%, #50a1b1 100%) 0% 0% no-repeat padding-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 139.95px);
  min-height: 500px;
}

.EditApp {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  min-height: 500px;
}

.Home, .AboutUs, .Picture, .Picture_ID, .Cart {
  min-height: calc(100vh - 139.95px);
}

.Picture {
  background: linear-gradient(217deg, rgba(238, 32, 32, 0.8), rgba(0, 102, 255, 0.068) 70.71%), linear-gradient(127deg, rgba(53, 255, 53, 0.8), rgba(0, 255, 179, 0.116) 70.71%), linear-gradient(336deg, rgba(47, 47, 244, 0.8), rgba(0, 0, 255, 0.13) 70.71%);
}

.Cart {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 60px 1fr 100px;
  align-items: flex-start;
}

.Cart button {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  align-self: flex-end;
}

.Cart table {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.AboutUs {
  padding: 20px;
}

h1, h2, h3 {
  color: var(--color-dark);
}

.Section {
  padding: 16px;
}

.Section h3 {
  margin: auto;
  margin-bottom: 50px;
}

::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background: #566d88;
  border-radius: 4px;
  margin: 1px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #414b5c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #525a72;
}

::-webkit-scrollbar-track {
  background: #262627;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: rgb(31, 31, 32);
}
